!!! 5
html
  head
    title Reverse Turing Test
    script(src='/js/jquery-1.9.1.min.js')
    link(rel='stylesheet', href='css/index.css')

    script.
       $(document).ready(function(){
         $("#p").click(function() {
          window.location = window.location + url+'game';
         });
         $("#e").click(function() {
          window.location = window.location + url+'human';
         });
       });
  body
    input#p(type="button", value="Play as patient")
    br
    input#e(type="button", value="Play as Eliza")