body {
    padding: 0em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color:white;
}

textarea {
    resize: none;
}

.inlineBlock {
    display: inline-block;
}

.topAligned {
    vertical-align: top;
}

.index {
	text-align: left;
	font-size: 5em;
}
